/*selector and descriptor*/

h1 {
    background-color: lightgoldenrodyellow;
}

div.todoStatusACTIVE{
    color: blue;
}

div.todoStatusCOMPLETE{
    color: green;
    text-decoration: line-through;
}

div.todoStatusDELETED{
    color: red;
    text-decoration: line-through;
}

.close {
    color: red;
    opacity: 1;
}